.cardContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.searchContainer {
  width: 100%;
  display: flex;

}

.cardListContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

app-pokemon {
  display: inline-block;
  height: 22rem;
  width: 10rem;
  border: 1px solid rgba(22, 20, 20, 0.374);
  box-shadow: 8px 8px 4px #aaa;
  margin: 10px;
  padding: 5px;
}

mat-form-field {
  margin-top: 50px;
  width: 40%;
}

mat-label {
  padding-top: 20px;
}

mat-option{
  z-index: 15 !important;
  display: block;
}
